{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">

    <style>
        /* swal css */
        div.swal2-html-container{
            /* background-color: black; */
            /* font-family: Arial, Helvetica, sans-serif; */
            font-size: large;
            /* height: 100px; */
        }
        div.swal2-actions{
            font-size: 15px;
        }
        body {
            font-family: consolas;
            /* font-size: 10rem; */
        }

        .tab {
            overflow: hidden;
            border: 1px solid rgb(46, 46, 46);
            background-color:#285664;
            color:whitesmoke;
        }

        .tab button {
            background-color: inherit;
            float: right;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 22px 70px;
            transition: 0.3s;
            font-size: 20px;
        }

        .tab img {
            float: left;
            object-fit: contain;
            height: 70px;
            margin-left: 5px;
        }

        .tab button:hover {
            background-color: whitesmoke;
            color: #000040;
        }

        .tab button.active {
            background-color: #ccc;
            color: #000040;
        }

        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
            background-color: #112b32;
        }
    </style>
</head>
<body>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.min.js"></script>
    <link rel="stylesheet" href="sweetalert2.min.css">
    <script src="sweetalert2.all.min.js"></script>
    {% for message in messages %}
        {% if message.level == 40 %}
        <script>
            Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: "{{message}}",
                        width: "500px",
                        // footer: '<a href="{% url "home" %}">Try Again!</a>'
                    })
        </script>
        {% else %}
        <script>
            Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: '{{message}}',
                        showConfirmButton: false,
                        timer: 1500
                    })
        </script>
        {% endif %}
    {% endfor %}
    <div class="tab">
        <img src="{% static 'images/QuikMail1.png' %}" alt="Image aschena ki korbo ?" style="filter: invert(1);" />
        <button class="tablinks" onclick="openHome(event, 'signIn')" id="defaultOpen">Sign-In</button>
        <button class="tablinks" onclick="openHome(event, 'signUp')">Sign-Up</button>
    </div>

    <div id="signIn" class="tabcontent">
        <div class="container" style="width: 50%">
            <br />
            <div class="panel panel-default">
                <div class="panel-heading" style="text-align :center; background-color:#285664; color:white">
                    <h2>Sign-In</h2>
                </div>
                <div class="panel-body" style="background-color:#ccc;">
                    <form action="" method="post" id="captch_form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Username*</label><br>
                            <input type="text" name="uname" id="uname" class="form-control"
                                placeholder="Username" /><span id="uname_error"></span>
                        </div><br>
                        <div class="form-group">
                            <label>Password*</label><br>
                            <input type="password" name="password" id="password" class="form-control"
                                placeholder="Password" /><span id="pass_error"></span>
                        </div><br>
                        <div class="form-group" style="text-align: center; margin-top: 2%">
                            <input type="submit" name="register" id="register" class="btn btn-primary" value="LOG IN" style="background-color: #285664;"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {

                $('#captch_form').on('submit', function (event) {
                    var uname = $("#uname").val();
                    if (uname == '') {
                        $("#uname_error").html("Please Enter Username");
                        $("#uname_error").show();
                        $("#uname").css("border-color", "red");
                        return false;
                    }
                    var psw = $("#password").val();
                    var passw = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/;
                    if (psw == '') {
                        $("#pass_error").html("Please enter valid password");
                        $("#pass_error").show();
                        $("#password").css("border-color", "red");
                        return false;
                    }
                });

                $("#uname").focus(function (e) {
                    $("#uname_error").hide();
                    $("#uname").css("border-color", "");
                });
                $("#password").focus(function (e) {
                    $("#pass_error").hide();
                    $("#password").css("border-color", "");
                });

            });
        </script>
    </div>

    <div id="signUp" class="tabcontent">
        <div class="container" style="width:50%">
            <br />
            <div class="panel panel-default">
                <div class="panel-heading" style="text-align :center; background-color:#285664; color:white">
                    <h2>Sign-Up</h2>
                </div>
                <div class="panel-body" style="background-color:#ccc;">
                    <form action="" method="post" id="reg_form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>User Name<span>*</span></label>
                            <input type="text" name="uID" id="uID" class="form-control" placeholder="User Name">
                            <span id="uID_error"></span>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>First Name<span>*</span></label>
                                    <input type="text" name="fname" id="fname" class="form-control"
                                        placeholder="First Name" />
                                    <span id="fname_error"></span>
                                </div>

                                <div class="col-md-6">
                                    <label>Last Name<span>*</span></label>
                                    <input type="text" name="lname" id="lname" class="form-control"
                                        placeholder="Last Name" />
                                    <span id="lname_error"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6"><label><b>Password<span>*</span></b></label>
                                    <input type="password" placeholder="Enter Password" name="psw" id="psw"
                                        class="form-control">
                                    <span id="p1_error"></span>
                                </div>
                                <div class="col-md-6"><label><b>Repeat Password<span>*</span></b></label>
                                    <input type="password" placeholder="Repeat Password" name="psw-repeat"
                                        id="psw_repeat" class="form-control">
                                    <span id="p_error"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6" style="text-align: right;">
                                    <input type="submit" name="btn_register" id="btn_register" class="btn btn-primary"
                                        value="Register" style="background-color: #285664;"/>
                                </div>
                                <div class="col-md-6">
                                    <input type="reset" name="btn_reset" id="btn_reset" class="btn btn-primary"
                                        value="Reset" style="background-color: #285664;"/>
                                </div>
                            </div>
                        </div>
                </div>
                </form>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function (e) {
                $("#btn_register").click(function (e) {
                    var uID = $("#uID").val();
                    if (uID == '') {
                        $("#uID_error").html("Please enter User Name");
                        $("#uID_error").show();
                        $("#uID").css("border-color", "red");
                        return false;
                    }
                    var fname = $("#fname").val();
                    if (fname == '') {
                        $("#fname_error").html("Please enter First Name");
                        $("#fname_error").show();
                        $("#fname").css("border-color", "red");
                        return false;
                    }
                    var lname = $("#lname").val();
                    if (lname == '') {
                        $("#lname_error").html("Please enter Last Name");
                        $("#lname_error").show();
                        $("#lname").css("border-color", "red");
                        return false;
                    }

                    var psw = $("#psw").val();
                    var psw_repeat = $("#psw_repeat").val();
                    var passw = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/;
                    if (psw == "") {
                        $("#p1_error").html("Enter Password");
                        $("#p1_error").show();
                        $("#psw").css("border-color", "red");
                        return false;
                    }
                    if ($("#psw").val() != $("#psw_repeat").val()) {
                        $("#p_error").html("Passwords do not match");
                        $("#p_error").show();
                        $("#psw_repeat").css("border-color", "red");
                        return false;
                    }
                });
                $("#uID").focus(function (e) {
                    $("#uID_error").hide();
                    $("#uID").css("border-color", "");
                });
                $("#fname").focus(function (e) {
                    $("#fname_error").hide();
                    $("#fname").css("border-color", "");
                });
                $("#lname").focus(function (e) {
                    $("#lname_error").hide();
                    $("#lname").css("border-color", "");
                });

                $("#psw_repeat").focus(function (e) {
                    $("#p_error").hide();
                    $("#psw_repeat").css("border-color", "");
                });
                $("#psw").focus(function (e) {
                    $("#p1_error").hide();
                    $("#psw").css("border-color", "");
                });

            });
        </script>
    </div>
    </div>

    <script>
        function openHome(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
        document.getElementById("defaultOpen").click();
    </script>

    <!-- Footer Starts -->
    <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Credits</h3>
                        <ul>
                            <li><a href="#">Manosij Tarafdar</a></li>
                            <li><a href="#">Surjo Seth</a></li>
                            <li><a href="#">Manideep Bhattacharyya</a></li>
                            <li><a href="#">Rajdip Roy</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Tech Used</h3>
                        <ul>
                            <li><a href="#">Django</a></li>
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS/Bootstrap</a></li>
                            <li><a href="#">Python</a></li>
                            <li><a href="#">Firebase</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Contact Us</h3>
                        <ul>
                            <li><a href="#">manosijindia@gmail.com</a></li>
                            <li><a href="#">0123.surjo@gmail.com</a></li>
                            <li><a href="#">manideepbhattacharyya2002@gmail.com</a></li>
                            <li><a href="#">rajdiproy755@gmail.com</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a
                            href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i
                                class="icon ion-social-snapchat"></i></a><a href="#"><i
                                class="icon ion-social-instagram"></i></a>
                        <p class="copyright">TechPhantoms © 2022</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Footer Ends -->

</body>

</html>