{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>QuickMail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.min.js"></script>
    <link rel="stylesheet" href="sweetalert2.min.css">
    <script src="sweetalert2.all.min.js"></script>
    {% for message in messages %}
        {% if message.level == 40 %}
        <script>
            Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: "{{message}}",
                        width: "500px",
                        // footer: '<a href="{% url "home" %}">Try Again!</a>'
                    })
        </script>
        {% else %}
        <script>
            Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: '{{message}}',
                        showConfirmButton: false,
                        timer: 1500
                    })
        </script>
        {% endif %}
    {% endfor %}
    <div class="tab grad">
        <img src="{% static 'images/QuikMail1.png' %}" alt="Image aschena ki korbo ?" style="filter: invert(1);" />
        <button class="tablinks" onclick="openHome(event, 'signIn')" id="defaultOpen">Sign-In</button>
        <button class="tablinks" onclick="openHome(event, 'signUp')">Sign-Up</button>
    </div>

    <div id="signIn" class="tabcontent">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading grad">
                    <h2>Sign-In</h2>
                </div>
                <div class="panel-body">
                    <form action="" method="post" id="captch_form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Username*</label><br>
                            <input type="text" name="uname" id="uname" class="form-control"
                                placeholder="Username" /><span id="uname_error"></span>
                        </div><br>
                        <div class="form-group">
                            <label>Password*</label><br>
                            <input type="password" name="password" id="password" class="form-control"
                                placeholder="Password" /><span id="pass_error"></span>
                        </div><br>
                        <div class="form-group" style="text-align: center; margin-top: 2%">
                            <input type="submit" name="register" id="register" class="btn btn-primary grad-btn" value="LOG IN" style="background-color: #285664;"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="{% static 'js/login.js' %}"></script>
    </div>

    <div id="signUp" class="tabcontent">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading grad">
                    <h2>Sign-Up</h2>
                </div>
                <div class="panel-body">
                    <form action="" method="post" id="reg_form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>User Name<span>*</span></label>
                            <input type="text" name="uID" id="uID" class="form-control" placeholder="User Name">
                            <span id="uID_error"></span>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>First Name<span>*</span></label>
                                    <input type="text" name="fname" id="fname" class="form-control"
                                        placeholder="First Name" />
                                    <span id="fname_error"></span>
                                </div>

                                <div class="col-md-6">
                                    <label>Last Name<span>*</span></label>
                                    <input type="text" name="lname" id="lname" class="form-control"
                                        placeholder="Last Name" />
                                    <span id="lname_error"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Date of Birth<span>*</span></label>
                                    <input type="date" name="dob" id="dob" class="form-control"
                                        placeholder="dd/mm/yyyy" />
                                    <span id="dob_error"></span>
                                </div>

                                <div class="col-md-6">
                                    <label>Phone Number<span>*</span></label>
                                    <div class="phone-number">
                                        <input type="text" name="" id="std" value="+91" class="form-control" disabled>
                                        <input type="text" name="phone" id="phone" class="form-control"
                                        placeholder="Phone Number" />
                                    </div>
                                    <span id="phone_error"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6"><label>Password *</label>
                                    <input type="password" placeholder="Enter Password" name="psw" id="psw"
                                        class="form-control">
                                    <span id="p1_error"></span>
                                </div>
                                <div class="col-md-6"><label>Confirm Password *</b></label>
                                    <input type="password" placeholder="Confirm Password" name="psw-repeat"
                                        id="psw_repeat" class="form-control">
                                    <span id="p_error"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 btn-div">
                                    <input type="submit" name="btn_register" id="btn_register" class="btn btn-primary grad-btn"
                                        value="Register" style="background-color: #285664;"/>
                                </div>
                                <div class="col-md-6 btn-div">
                                    <input type="reset" name="btn_reset" id="btn_reset" class="btn btn-primary grad-btn"
                                        value="Reset" style="background-color: #285664;"/>
                                </div>
                            </div>
                        </div>
                </div>
                </form>
            </div>
        </div>
        <script src="{% static 'js/register.js' %}"></script>
    </div>
    </div>

    <script>
        function openHome(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
        document.getElementById("defaultOpen").click();
    </script>

    <!-- Footer Starts -->
    <div class="footer-clean grad">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Credits</h3>
                        <ul>
                            <li><a href="#">Manosij Tarafdar</a></li>
                            <li><a href="#">Surjo Seth</a></li>
                            <li><a href="#">Manideep Bhattacharyya</a></li>
                            <li><a href="#">Rajdip Roy</a></li>
                            <li><a href="">Tapanayan Banerjee</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Tech Used</h3>
                        <ul>
                            <li><a href="https://www.djangoproject.com/">Django</a></li>
                            <li><a href="https://html.com/">HTML</a></li>
                            <li><a href="https://www.w3.org/Style/CSS/Overview.en.html">CSS/Bootstrap</a></li>
                            <li><a href="https://www.python.org/">Python</a></li>
                            <li><a href="https://firebase.google.com/">Firebase</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Contact Us</h3>
                        <ul>
                            <li><a href="mailto:manosijindia@gmail.com">manosijindia@gmail.com</a></li>
                            <li><a href="mailto:0123.surjo@gmail.com">0123.surjo@gmail.com</a></li>
                            <li><a href="mailto:manideepbhattacharyya2002@gmail.com">manideepbhattacharyya2002@gmail.com</a></li>
                            <li><a href="mailto:rajdiproy755@gmail.com">rajdiproy755@gmail.com</a></li>
                            <li><a href="mailto:Tapanayan.banerjee27@gmail.com">Tapanayan.banerjee27@gmail.com</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 item social">
                        <a href="#"><i class="icon ion-social-facebook"></i></a>
                        <a href="#"><i class="icon ion-social-twitter"></i></a>
                        <a href="#"><i class="icon ion-social-snapchat"></i></a>
                        <a href="#"><i class="icon ion-social-instagram"></i></a>
                        <p class="copyright">TechPhantoms © 2022</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Footer Ends -->

</body>

</html>
