{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>QuikMail</title>

</head>

<body>

    <!-- Nav bar Starts -->
    <div class="tab grad">
        <img src="{% static 'images/QuikMail1.png' %}" alt="" style="filter: invert(1);" />
        <a href="{% url 'logout' %}"><button class="fa btn btn-primary btn-circle btn-sm" id="reload"><i class="fa fa-power-off" aria-hidden="true"></i></button></a>
        <button class="fa btn btn-primary btn-circle btn-sm" id="quit" onClick="window.location.href=window.location.href">&#xf021;</button>
    </div>
    <!-- Nav bar Ends -->

    <!-- List of all mails Starts -->


    <div class="container">
        <div class="tab2 grad">
            <Label><i class="fa fa-user" aria-hidden="true"></i> Welcome, {{request.user.username}}</Label>
            <button class="tablinks" onclick="openMail(event, 'outbox')" id="outboxOpen">Sent</button>
            <button class="tablinks" onclick="openMail(event, 'inbox')" id="defaultOpen">Inbox</button>
        </div>

        <div id="inbox" class="tabcontent">
            <div class="list-group">
                {% for message in incoming %}
                <a href="{% url 'seeInbox' message.id %}" class="list-group-item list-group-item-action"><b>{{message.by}}</b>&emsp;{{message.subject}}</a>
                {% endfor %}
            </div>
            <button class="open-button grad-btn" onclick="openForm()">Compose</button>
        </div>

        <div id="outbox" class="tabcontent">
            <div class="list-group">
                {% if outgoing %}
                {% for message in outgoing %}
                <a href="{% url 'seeOutbox' message.id %}" class="list-group-item list-group-item-action"><b>{{message.to}}</b>&emsp;{{message.subject}}</a>
                {% endfor %}
                {% else %}
                <h1>Outbox currently empty.</h1>
                {% endif %}
            </div>
            <button class="open-button grad-btn" onclick="openForm()">Compose</button>
        </div>
    </div>

    <script>
        function openMail(evt, mailName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(mailName).style.display = "block";
            evt.currentTarget.className += " active";
        }
        document.getElementById("defaultOpen").click();
    </script>

    <!-- Message Modal Starts -->
    <!-- Message Modal Ends -->

    <!-- List of all mails Ends -->


    <!-- Compose Starts -->

    <div class="chat-popup" id="myForm">
        <form action="" class="form-container" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h1><b>Compose</b></h1>

            <input type="text" name="to" placeholder="To" required/>
            <input type="text" name="sub" placeholder="Subject" required/>
            <textarea placeholder="Message" name="msg" required></textarea>
            <div class="attach">
                <i class="fa-solid fa-image" id="file-upload-btn"></i>
                <input type="file" name="attachment" multiple id="file-upload-input">
            </div>

            <button type="submit" class="btn">Send</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>

    <script>
        $("#file-upload-btn").click(function(){
            $("#file-upload-input").click();
        });
        $("#file-upload-input").change(function () {
            var name = $(this).val();
            if (name)
            {
                $("#file-upload-btn").css("color","#285664");
            }
            else
            {
                $("#file-upload-btn").css("color","#429bb6");
            }
        });
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
    </script>
    <!-- Compose Ends -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.min.js"></script>
    <link rel="stylesheet" href="sweetalert2.min.css">
    <script src="sweetalert2.all.min.js"></script>
    {% for message in messages %}
        {% if message.level == 40 %}
        <script>
            Swal.fire({
                        icon: 'error',
                        title: 'ERROR',
                        text: "{{message}}",
                        width: "500px",
                        // footer: '<a href="{% url "home" %}">Try Again!</a>'
                    })
        </script>
        {% elif message.level == 20 %}
            {% if 'noData' in message.tags %}
            <script>
                let inboxContent = `{{message|linebreaksbr}}`
                Swal.fire({
                            html: inboxContent,
                            width: "500px",
                            confirmButtonColor:'#285664',
                            confirmButtonText:'Close',
                        })
            </script>
            {% else %}
            <script>
                let content = `{{message|linebreaksbr}}<br>
                                <a href = "{% url 'attachmentContentInbox' message.tags %}" target = "_blank"> Attachments </a`
                Swal.fire({
                            html: content,
                            width: "500px",
                            confirmButtonColor:'#285664',
                            confirmButtonText:'Close',
                        })
            </script>
            {% endif %}
        {% elif message.level == 30 %}
        {% if 'noData' in message.tags %}
        <script>
            let str = `{{message|linebreaksbr}}`
            Swal.fire({
                        html:str,
                        width: "500px",
                        confirmButtonColor:'#285664',
                        confirmButtonText:'Close',
                    })
        </script>
        {% else %}
        <script>
            let attachmentstr = `{{message|linebreaksbr}}<br><a href = "{% url 'attachmentContentOutbox' message.tags %}" target = "_blank" target = "_blank" > Attachments </a`
            Swal.fire({
                        html:attachmentstr,
                        width: "500px",
                        confirmButtonColor:'#285664',
                        confirmButtonText:'Close',
                    })
        </script>
        {% endif %}
        <script>
            document.getElementById("outboxOpen").click();
        </script>
        {% else %}
        <script>
            Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: '{{message}}',
                        showConfirmButton: false,
                        timer: 1700
                    })
        </script>
        {% endif %}
    {% endfor %}
</body>

</html>
